.table-section {
    margin-top: 40px;
}

.standings-table {
    width: 100%;

    border-collapse: collapse;

    background: white;

    border-radius: 12px;

    overflow: hidden;
}

.standings-table th,
.standings-table td {
    padding: 12px;

    text-align: center;

    border-bottom: 1px solid #ddd;
}

.team-column {
    display: flex;

    align-items: center;

    gap: 10px;
}

.table-logo {
    width: 25px;
    height: 25px;
}