.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f4f4f4;
    min-height: 100vh;
}

/* TOP CARDS */
.top-cards {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    opacity: 0.7;
}

.card.active {
    background: #d6d6d6;
    opacity: 1;
    border: 2px solid #aaa;
}

.icon {
    font-size: 24px;
}

.status {
    font-size: 12px;
    color: gray;
}

/* LIVE SECTION */

.date {
    font-size: 18px;
    margin: 10px 0;
}

.live-section {
    text-align: center;
}

.live-label {
    font-size: 12px;
    color: gray;
}

.match-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    margin-top: 10px;
}

.time {
    font-size: 18px;
    margin: 10px 0;
}

.score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.team-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.result {
    font-size: 28px;
    font-weight: bold;
}

.result {
    font-size: 20px;
    font-weight: bold;
}

/* BUTTON */
.watch-btn {
    background: #4da6ff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.watch-btn:hover {
    background: #3399ff;
}

/* SEÇÕES */
.small-section {
    margin-top: 40px;
}

.small-section h2 {
    margin-bottom: 15px;
}

/* CONTAINER DOS RETÂNGULOS */
.small-cards {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

/* RETÂNGULOS */
.small-card {
    background: white;
    border-radius: 12px;

    padding: 12px 18px;

    display: flex;
    align-items: center;
    gap: 12px;

    min-width: 150px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* ESCUDOS PEQUENOS */
.small-logo {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.match-info {
    margin-bottom: 15px;
}

.championship {
    font-size: 18px;
    font-weight: bold;
}

.stadium {
    color: gray;
    font-size: 14px;
}

.logo-button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.logo-button:hover {
    transform: scale(1.05);
}

/* SEÇÃO DOS TIMES */
.teams-section {
    margin-top: 40px;
}

.teams-list {
    display: flex;
    gap: 15px;

    flex-wrap: wrap;

    margin-top: 15px;
}

/* BOTÃO */
.team-button {
    background: white;

    border: none;

    border-radius: 12px;

    padding: 10px;

    cursor: pointer;

    transition: 0.2s;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.team-button:hover {
    transform: scale(1.05);
}

/* ESCUDO */
.bottom-team-logo {
    width: 60px;
    height: 60px;

    object-fit: contain;
}